html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    vertical-align: middle;
	position: relative;
}

.hide { display: none; }

#chat-wrapper {
/* */
}

#login-wrapper {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 300px;
    height: 300px;
}

#login-wrapper form input { margin: 10px 0; }

#chat-wrapper ul { list-style-type: none; }

#chat-wrapper ul > li { margin: 10px 0; }