<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Chatron</title>
		<link rel="stylesheet" href="./index.css">
		<script src="https://unpkg.com/vue"></script>
		<script src="../node_modules/vue-chat-scroll/dist/vue-chat-scroll.js"></script>
	</head>

	<body>
		<div id="app">
			<div id="login-wrapper" v-if="!loggedIn">
				<form id="login" method="post">
					<label for="username-input">Username: </label>
					<input id="username-input" type="text" v-model.trim="usernameInput">
					<div style="color:red;"><span v-if="!checkUsername()">Username must be between 2 and 32 characters.</span></div>
					<label for="channels-input">Channels: </label>
					<input id="channels-input" type="text" v-model.trim="channelsInput">
					<div style="color:red;"><span v-if="!checkChannels(this.channelsInput)">Whitespace-seperated channel names (2-32 chars per name) must be provided.</span></div>
					<label for="server-input">Server address: </label>
					<input id="server-input" type="text" v-model.trim="serverInput">
					<div style="color:red;"><span v-if="!checkServer()">Server address must be provided.</span></div>
					<input id="login-submit" type="submit" value="Login" @click.prevent="login()">
				</form>
				<p style="color:red" v-if="error">{{ error.message }}</p>
			</div>

			<div id="chat-wrapper" v-if="loggedIn">
				<div id="title-bar-wrapper">
					<div id="title-bar">
						<p>Very cool and useful Chatron titlebar that will display nice things later on. Maybe.</p>
					</div>
				</div>
				<div id="channel-list-wrapper">
					<ul id="channel-list">
						<li class="channel" v-for="channel in user.channels" @click="switchChannel(channel.name)" :title="channel.name" :id="channel.name" :class="{ channelHighlight: currentChannel === channel.name }">
							{{ channel.name }}
						</li>
					</ul>
				</div>
				<div id="user-list-wrapper">
					<ul id="user-list">
						<li class="user" v-for="channelUser of user.channels[currentChannel].users" :title="channelUser.username" :id="channelUser.username" :class="{ ownUser: user.username === channelUser.username }">
							{{ channelUser.username }}
						</li>
					</ul>
				</div>
				<div id="chat-area-wrapper">
					<div id="messages" v-chat-scroll="{ always: false }">
						<div class="message-wrapper" v-for="message in user.channels[currentChannel].messages" :class="{ systemMessage: message.author.username === 'system' }">
							<span class="message-info">[{{ message.timestamp }}] {{ message.author.username }}:</span>
							<span class="message-content" v-if="message.author.username === 'system'" v-html="message.content"></span>
							<span class="message-content" v-else>{{ message.content }}</span>
						</div>
					</div>
					<div id="message-bar-wrapper">
						<input type="text" id="message-bar" v-model.trim="messageContent" @keyup.13="sendMessage(messageContent)" @keydown.38="insertLastMsg">
					</div>
				</div>
				<div id="channel-choice-wrapper">
					<input type="text" id="channel-choice" v-model.trim="channelChoice" @keyup.13="joinChannel(channelChoice)">
					<button id="join-channel" type="button" @click="joinChannel(channelChoice)">Join</button>
					<button id="leave-channel" type="button" @click="leaveChannel(channelChoice)">Leave</button>
				</div>
				<div id="error-message-wrapper" v-if="error">
					<p id="error-message" style="color:red">{{ error.message }}</p>
				</div>
				<div id="logout-button-wrapper">
					<button id="logout" type="button" @click="logout()">Log out</button>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.slim.js"></script>
		<script src="index.js"></script>
	</body>
</html>

