@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    vertical-align: middle;
	position: relative;
	font-family: "Open Sans"
}

#login-wrapper {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 300px;
    height: 300px;
}

#login-wrapper form input {
	margin: 10px 0;
}

#chat-wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 135px auto 135px;
	grid-template-rows: 5% 90% 5%;
	grid-template-areas: "title-bar title-bar title-bar"
						 "channel-list chat-area user-list"
						 "channel-choice message-bar logout"
}

#chat-wrapper ul {
	margin: 0px;
	list-style-type: none;
}

#title-bar > p {
	margin: 1vh 0px 1vh 0px;
}

#chat-wrapper #user-list {
	padding-right: 1vh;
	padding-left: 0px;
}

#chat-wrapper #channel-list {
	padding-left: 1vh;
	padding-right: 0px;
}

#title-bar-wrapper {
	grid-area: title-bar;
	text-align: center;
}

#channel-list-wrapper {
	grid-area: channel-list;
    border-top: solid;
	border-bottom: solid;
	overflow: auto;
}

#channel-list > li::before {
	content: '💬';
	padding-right: 5px;
}

#user-list-wrapper {
	grid-area: user-list;
    border-top: solid;
    border-bottom: solid;
	overflow: auto;
}

#user-list > li::before {
	content: '👺';
	padding-right: 5px;
}

#user-list > li, #channel-list > li {
	max-width: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#chat-area-wrapper {
	grid-area: chat-area;
	position: relative;
	display: block;
	font-size: 13px;
	border-style: solid;
}

#messages {
	overflow: auto;
	max-height: 96.5%;
}

#message-bar-wrapper {
	position: absolute;
	width: 99.5%;
	bottom: 0;
}

#message-bar {
	width: 100%;
}

#channel-choice-wrapper {
	grid-area: channel-choice;
	display: inline-flex;
	max-height: 20px;
	margin-top: 10%;
}

#channel-choice {
	max-width: 135px;
}

#logout-button-wrapper {
	grid-area: logout;
	display: inline-flex;
	margin-top: 10%;
	max-height: 20px;
}

#logout {
	margin: 0px 35px 0px 35px;
}